<section class="products">
  <h1 class="main">Shopping cart</h1>
  <ul class="products-list tableHead">
    <li class="products-list-title row">
      <div class="col-product">Product details</div>
      <div class="col-quantity">Quantity</div>
      <div class="col-price">Price</div>
      <div class="col-total">Total</div>
    </li>
  </ul>
  <ul class="products-list">
    <li class="product row" *ngFor="let product of products">
      <div class="col-product">
        <figure class="product-image">
          <img src='assets/img/{{ product.photo }}'>
          <div class="product-description">
            <h1>{{ product.name }}</h1>
          </div>
        </figure>
      </div>
      <div class="col-quantity">
        <button (click)="decrease(product)" class="count">-</button>
        <input type="text" class="product-quantity" value="{{product.quantity}}" />
        <button (click)="increase(product)" class="count">
          +
        </button>
      </div>
      <div class="col-price">
        <span class="product-price">{{ product.price }}</span>
        <span class="product-currency currency">€</span>
      </div>
      <div class="col-total">
        <span class="product-price">{{ product.price * product.quantity }}</span>
        <span class="product-currency currency">€</span>
      </div>
    </li>
  </ul>
</section>

<order-summary [values]="values" [pricingRules]="pricingRules" [productsCount]="productsCount"></order-summary>
