.products {
  padding: 40px 32px 40px 56px;
}

.products button.count {
  padding: 0 8px;
  height: 40px;
  border: none;
  background: transparent;
  color: #7350ff;
  font-weight: bold;
  cursor: pointer;
}

.products {
  flex: 1;
}

.products-list {
  position: relative;
  width: 100%;
}

.product h1 {
  font-size: 16px;
  line-height: 24px;
}

.product-image {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}

.product-image img {
  margin-right: 16px;
  width: 72px;
  height: 72px;
  border: 1px solid #cacad1;
  border-radius: 4px;
}

.product-code {
  border-radius: 4px;
  color: #a6a7b3;
  letter-spacing: 0.13px;
  font-weight: 400;
}

.product-quantity {
  width: 40px;
  height: 40px;
  border: 2px solid #dbdbe0;
  border-radius: 4px;
  text-align: center;
}

.product-price {
  color: #000000;
  font-size: 16px;
}

.product .clear {
  border: none;
  background: transparent;
}

.product .clear span {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
}

.product .clear span:before,
.product .clear span:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 2px;
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 8px;
  background-color: #a6a7b3;
  transform: rotate(-45deg);
  transform-origin: center center;
}

.product .clear span:before {
  transform: rotate(45deg);
}

.product h1 {
  color: #7350ff;
}

.tableHead {
  padding: 32px 0;
}

.row {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.row+.row {
  margin-top: 32px;
}

[class*="col-"] {
  display: flex;
  align-items: center;
}

[class*="col-"]:nth-child(n + 2) {
  justify-content: center;
}

.col-product {
  width: 45%;
}

.col-quantity {
  width: 20%;
}

.col-price {
  width: 20%;
  font-weight: bold;
}

.col-total {
  width: 15%;
  font-weight: bold;
}

input {
  width: 100%;
  height: 48px;
  border-radius: 4px;
}
